.background {
    background-image: url("../img/background/bg-about-us-fixed-3.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 86px;
    overflow-x: hidden;
}
.content {
    position: relative;
}
.video {
    background-color: #d14d72;
    border-radius: 30px;
    padding: 15px;
}
iframe {
    max-width: 100%;
}

.carousel-cont {
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 5rem;
    color: #19376d;
}

.carousel-slider {
    padding: 4em 2em;
    background-color: #fcc8d1;
    border-radius: 30px 30px 0 0;
}

.carousel {
    width: 80%;
    margin: auto;
}

.carousel-desc {
    padding: 2em;
    background-color: #fef2f4;
    border-radius: 0 0 30px 30px;
}

#cloud1 {
    width: 500px;
    position: absolute;
    top: 100px;
    right: -160px;
    animation: moveAround 4s ease-in-out 1s infinite;
}

#cloud2 {
    width: 500px;
    position: absolute;
    top: 1000px;
    left: -200px;
    animation: leftAndRight 3s ease-in 2s infinite;
}

/* animation */
@keyframes moveAround {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(8px, 0);
    }
    50% {
        transform: translate(8px, 4px);
    }
    75% {
        transform: translate(0, 5px);
    }
}
@keyframes leftAndRight {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(8px);
    }
}

/* Responsiveness  */
@media screen and (max-width: 1200px) {
    #cloud2 {
        width: 500px;
        position: absolute;
        top: 900px;
        left: -200px;
    }
}

@media screen and (max-width: 992px) {
    .maskot {
        display: none;
    }

    .carousel {
        width: 90%;
    }
    #cloud1 {
        width: 400px;
        position: absolute;
        top: 250px;
        right: -120px;
    }
    #cloud2 {
        width: 400px;
        position: absolute;
        top: 90%;
        transform: translateX(-100px);
    }
}

@media screen and (max-width: 768px) {
    #cloud1 {
        width: 350px;
        top: 250px;
        right: -50px;
        transform: translateX(100px);
    }
    #cloud2 {
        width: 350px;
        top: 900px;
        left: -90px;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 576px) {
    .carousel-cont {
        width: 100%;
    }

    .carousel {
        width: 95%;
    }

    .container {
        overflow-x: hidden;
    }
    #cloud1 {
        width: 300px;
        position: absolute;
        top: 300px;
        right: -50px;
    }
    #cloud2 {
        width: 300px;
        position: absolute;
        top: 900px;
        left: -100px;
    }
    @media screen and (max-width: 500px) {
        #cloud1 {
            top: 130px;
            width: 320px;
            right: -70px;
        }
        #cloud2 {
            width: 250px;
            left: -70px;
            top: 86%;
            transform: translateX(-80px);
        }
    }
}
