.compe-container{
    width: 90%;
    margin: auto;
    border-radius: 15px;
    color:#0B2345;
}

.card-title{
    padding: 1em;
    background-color: #FCC8D1;
    border-radius: 15px 15px 0 0;
}

.card-body{
    padding: 1.5em;
    background-color: #FEF2F4;
    border-radius: 0 0 15px 15px;
}

.btn-download{
    padding: 0.2em 1em;
    background-color: #FCC8D1;
    color:#0B2447;
}

.btn-download:hover{
    background-color: #FCC8D1;
    color:#0B2447;
}

.btn-download:focus{
    box-shadow: none;
}

.background {
    background-image: url("../img/background/bg_competition_fix1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 86px;
}

.myTitle{
    margin-top: 0 !important;
    padding-top: 3rem;
}