.container-checkme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.dashboard-container {
    margin-top: 75px;
    background-color: #fcc8d1;
    padding: 30px 50px;
    border-radius: 30px;
    color: #4f200d;
}

.daftar-anggota {
    padding: 20px;
    background-color: #d14d72;
    color: #f6f1e9;
    border-radius: 15px;
}
.myInputFile {
    border: none;
    margin-bottom: 0;
    width: 80%;
    margin: 0 auto;
}

.label-ganti-kp {
    font-weight: 600;
}

.status {
    background-color: #fef2f4;
    width: 180px;
    border-radius: 50px;
}

.status.ditolak {
    color: #c01940;
}

.status.diterima {
    color: green;
}

.myBtn {
    background-color: #19376d;
    color: #f6f1e9;
    font-weight: 800;
    width: 300px;
    max-width: 110%;
    text-transform: uppercase;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.myBtn.dark {
    background-color: #19376d;
    color: #f6f1e9;
}

.myBtn.dark:hover {
    background-color: #a5d7e8;
    color: #0b2447;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 30% !important;
    }
}

@media screen and (max-width:576px) {
    .dashboard-container {
        margin-top: 75px;
        background-color: #fcc8d1;
        padding: 30px 50px;
        border-radius: 30px;
        color: #4f200d;
    }

    h3{
        text-align: center;
    }
}