.text-align-center{
    text-align: center;
}
.color-title-faq, .color-title-faq:not(.collapsed){
    background-color: #fcc8d1;
    border: 0px;
    color: #0c2548;
    font-size: 21px;
    font-weight: 425;
}
.color-inside-faq{
    background-color: #fef2f4;
    color: #0c2548;
    font-size: 16px;
}
iframe{
    max-width: 100%;
}
.faq-radialGradient-title{
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem !important ;
    -webkit-border-radius: 1rem 1rem 0rem 0rem !important ;
    -moz-border-radius: 1rem 1rem 0rem 0rem !important ;
    -ms-border-radius: 1rem 1rem 0rem 0rem !important ;
    -o-border-radius: 1rem 1rem 0rem 0rem !important ;
}
.faq-radialGradient-inside{
    position: relative;
    border-radius: 0rem 0rem 1rem 1rem !important ;
    -webkit-border-radius: 0rem 0rem 1rem 1rem !important ;
    -moz-border-radius: 0rem 0rem 1rem 1rem !important ;
    -ms-border-radius: 0rem 0rem 1rem 1rem !important ;
    -o-border-radius: 0rem 0rem 1rem 1rem !important ;
}
.faq-radialGradient {
    border-radius: 1rem !important;
    border: none;
}
.accordion-button::after, .accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:focus{
    box-shadow: inherit;
}
.background {
    background-image: url("../img/background/bg_faq.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
