.prize-container {
    border-radius: 40px;
    background-color: #fac7d0;
}

.dot {
    height: 120px;
    width: 120px;
    background-color: #ECEECA;
    border-radius: 50%;
    display: inline-block;
    padding: 0px;
} 

.crown{

}

.prize1{
    border-radius: 20px;
    background-color: #fef2f4;
    text-align: center;

}

.note1{
    border-radius: 20px;
    background-color: #d14d72;
    text-align: center;
    margin-left: 3px;
}

.neon{
  text-align: center;
  color: #19376d;
  /* text-shadow: 0 0 28px yellow,
    0 0 50px rgba(255, 120, 0, 0.5);
  -webkit-text-stroke: 1px white; */
}

.video {
    background-color: #d14d72;
    border-radius: 25px;
    padding: 15px;
}
iframe {
    max-width: 100%;
}

.caption {
    font-family: "breadley_serifregular", "Times New Roman", Times, serif;
    font-size: 2em;
    letter-spacing: 6px;
    line-height: 40px;
    color: #eceeca;
}

.caption-container {
    border-radius: 100px;
    background-color: #aa8561;
    width: 30em;
    margin: 20px auto;
}
.hadiah {
    color: #ffacac;
    font-weight: bold;
    font-size: 4em;
    line-height: 70px;
    margin-bottom: 30px;
}

.custom-btn {
    text-decoration: none;
    display: block;
    border-radius: 100px;
    background-color: #aa8561;
    width: 10em;
    font-weight: bold;
    font-size: 1.5em;
}

.custom-btn.custom-btn-bg {
    background: #fcc8d1;
    color: #0b2447 !important;
    transition: 0.25s ;
}

.custom-btn.custom-btn-bg:hover {
    background: #a5d7e8; 
}

.custom-btn-group {
    text-align: center;
}

.container{
    position: relative;
}

.cloud-container{
    position: absolute;
    top:75px;
    left: 20px;
    animation: cloudAnimation 3s infinite ;
    animation-timing-function: ease-in-out;
    
}

.cloud-container2{
    position: absolute;
    bottom:100px;
    right: 100px;
    animation: cloudAnimation2 4s infinite ;
    animation-timing-function: ease-in-out;
}

.cloud-container > img {
    width: 400px;
    height: auto;
    z-index: 3;
}

.cloud-container2 > img {
    width: 400px;
    height: auto;
    z-index: 3;

}

.butterfly-container{
    position: absolute;
    top:60px;
    left: -10px;
}

.butterfly-container > img {
    width: 200px;
    height: auto;
    z-index: 2;
    animation: butterflyAnimation 3s infinite ;
    animation-timing-function: ease-in-out;
}

@media screen and (max-width:992px) {
    .cloud-container > img {
        width: 250px !important;
        height: auto;
        z-index: 2;
        transform: translateX(-70px);
    }
    .cloud-container2 > img {
        width: 250px !important;
        height: auto;
        z-index: 2;
        transform: translateX(80px);
    }
}

@media screen and (max-width:768px) {
    .cloud-container > img {
        width: 250px !important;
        height: auto;
        z-index: 2;
        transform: translateX(-115px);
    }
    .cloud-container2 > img {
        width: 250px !important;
        height: auto;
        z-index: 2;
        transform: translateX(160px);
    }
}

@media screen and (max-width:576px) {
    .wrapper{
        overflow-x: hidden; 
        background-position: top left !important;
        padding-bottom: 100px;
    }
    .logo-header{
        width: 90% !important;
    }
    .cloud-container{
        position: absolute;
        top:50px;
    }
    .cloud-container > img {
        width: 250px !important;
        height: auto;
        z-index: 2;
        transform: translateX(-160px);
    }
    .cloud-container2{
        position: absolute;
        bottom:50px;
        left:170px;
    }
    .cloud-container2 > img {
        width: 250px !important;
        height: auto;
        transform: translateX(40px);
    }
    .butterfly-container{
        position: absolute;
        top:30px;
        left: -10px;
    }
}

@media(min-width: 768px){
    .prize-container .row .col-md-4 {
        width: 30% !important;
    }
}

@media (max-width: 426px) {
    .caption {
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .caption-container {
        max-width: 60%;
    }
}

@media (max-width: 376px) {
    .hadiah {
        font-size: 3em;
        line-height: 50px;
    }
    .caption {
        font-size: 1.2em;
    }
    .caption-container {
        max-width: 70%;
    }
}

@keyframes cloudAnimation{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(0,15px);
    }
    100%{
        transform: translateY(0,-0px);
    }
}

@keyframes cloudAnimation2{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(5px,10px);
    }
    100%{
        transform: translateY(-5px,-0px);
    }
}

@keyframes butterflyAnimation {
    0%, 100% {
        filter: drop-shadow(0 0 5px #fff503);
    }
      50% {
        filter: drop-shadow(0 0 0px #fff503);
    }
}

