.background {
    background-image: url("../img/background/bg_regist.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 86px;
}