@font-face {
    font-family: "alice_in_wonderland";
    src: url("../fonts/alice/Alice_in_Wonderland_3.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0b2447;
    min-height: 1vh;
    padding-top: 70px;
    color: #fff;
}

.wrapper {
    padding-bottom: 200px;
}

/* Start of Footer */
#footer {
    background-color: #19376d;
    padding: 20px 0 0 0;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    position: relative;
}
footer {
    color: #fff;
}

footer h4,
h2 {
    font-weight: bold;
    color: #f9ad16;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #a5d7e8;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

.footer-social ul {
    padding: 4px 2px;
}

.footer-social ul li {
    margin-bottom: 8px;
}

@media (min-width: 993px) {
    .footer-brand {
        padding-left: 80px;
    }
    .footer-nav {
        padding-left: 100px;
    }
    .footer-social {
        padding-left: 60px;
    }
}

/* End of Footer */

/* .myIcon:hover {
    color: #d0d2ad;
} */

.myTitle {
    font-family: "alice_in_wonderland", Arial, sans-serif;
    font-size: 96px !important;
    letter-spacing: 3px;
    color: #f9ad16;
    text-align: center;
    margin-bottom: 72px !important;
    margin-top: 86px;
}

.width-100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.width-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.myTextbox {
    display: block;
    margin-bottom: 10px;
    background-color: #19376d ;
    border: 2px solid #a5d7e8 ;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: 600;
}

.myTextbox::placeholder {
    color: #a0a0a0 !important;
    font-weight: normal;
}

.myTextbox:focus {
    border: inherit;
}

.myBtn {
    display: block;
    background-color: rgba(255, 217, 61, 1);
    color: #19376d;
    border-radius: 15px;
    border: none;
    height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.myBtn:hover {
    background-color: #a5d7e8;
    color: #19376d;
    transform: scale(1.05);
}

.myBtn.dark {
    background-color: #eceeca;
    color: #a0583a;
}

.myBtn.dark:hover {
    background-color: #d0d2ad;
    color: #a0583a;
}

.myChkbox {
    display: inline-block;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    z-index: -2;
    position: absolute;
    background-color: transparent;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 8px;
    border: 2px solid #f6f1e9;
    border-radius: 2px;
}

.myChkbox:checked ~ .checkmark {
    background-color: #ffabab;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.myChkbox:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 5px;
    top: 1.5px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chkText {
    display: inline-block;
    color: #f6f1e9;
    margin-bottom: 10px;
    background-color: transparent;
}

.have-account {
    color: #ffabab;
    font-weight: 600;
}

.have-account a {
    color: #ffabab;
}

.have-account a:hover {
    color: #fef2f4;
}

.myLabel {
    font-weight: 500;
    margin-left: 5%;
}

.myInputFile {
    height: 40px;
    display: block;
    border: 2px solid #a5d7e8 ;
    border-radius: 10px;
    padding: 6px 10px;
    color: #fff;
}

.text404 h1 {
    font-size: 5em;
}

.text404 p {
    font-size: 1.5em;
    font-weight: 500;
}

.myInputFile::-webkit-file-upload-button {
    background-color: #a5d7e8 ;
    color: #19376d ;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.myInputFile::-webkit-file-upload-button:hover {
    transform: scale(1.05);
    background-color: #fcc8d1;
}
.moon-cloud-container {
    left: 5%;
    z-index: -2;
}
.cloud {
    width: 300px;
    height: 120px;
    transform: scaleX(-1);
    position: absolute;
    animation-name: cloudAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    top: 55%;
}

/* animation */
@keyframes cloudAnimation {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(3px, 0);
    }
    50% {
        transform: translate(6px, 0);
    }
    75% {
        transform: translate(3px, 0);
        transform: scaleX(1);
    }
    100% {
        transform: translateX(0px, 0);
        transform: scaleX(1);
    }
}

@media (max-width: 1200px){
    .myTitle {
        font-size: 3em !important;
    }
}

@media (max-width: 768px) {
    .footer-img {
        bottom: 730px;
    }

}


@media (max-width: 511px) {
    .footer-img {
        bottom: 720px;
    }

    #footer {
        font-size: 1em;
    }

    .myTitle {
        margin-top: 72px;
    }
}
